.container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    /* border:2px solid red;   */
}
.logo{
    font-weight: 50px;
    font-size: 27px
}
.links{
    display: flex;
    align-items: center;
    gap: 20px;
    transition: all 0.3s;
}
.link{
    color: gray;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}
.link:hover{
    text-decoration: underline;
}
.logout{
    padding: 5px;
    border: none;
    background: #53c28b;
    border-radius: 3px;
    cursor: pointer;
}